/* Override some defaults */

html, body {
  background-color: #eee;
}
body {
  min-width: 260px;
}
.navigation {
  margin-bottom: 0;

  border: none;
}
.navigation__container {
  padding-right: 10px;
  padding-left: 10px;
}
.navigation__brand {
  position: absolute;
  top: 50%;

  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.navigation__links {
  margin-left: 140px;
}

/* Page header tweaks */
.page-header {
  margin-top: 50px; /* navigation panel height */
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;

  border-top: 1px solid transparent;
  background-color: #f5f5f5;
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
  .page-header {
    margin-top: calc(50px * 2);
  }
}

.span12 {
  margin-left: 15px;
  margin-right: 15px;
}


/* The white background content wrapper */

.content {
  background-color: #fff;
  padding: 20px;
  padding-top: 0;
  margin: 0 -20px;
  /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

#webform_side_tab {
  background-color: #87fdff !important;
}

/* Show & Hide buttons */
.toggle-container__button {
  display: none;
}
.toggle-container__label:after {
  display: inline-block;

  min-width: 70px;
  padding: 6px 5px;

  content: 'Show';
  cursor: pointer;
  text-align: center;

  color: white;
  border-radius: 3px;
  background-color: black;
}
.toggle-container__button:checked + .toggle-container__label:after {
  content: 'Hide';
}
.toggle-container__label:hover:after {
  color: #ddd;
}
.toggle-container__text {
  overflow: hidden;

  height: 0;
  padding-top: 0;

  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: none;
          transition-property: none;

  opacity: 0;
}
.toggle-container__button:checked ~ .toggle-container__text {
  height: auto;
  padding-top: 15px;

  -webkit-transition-property: opacity;
          transition-property: opacity;

  opacity: 1;
}
