/* Override some defaults */
html, body {
    background-color: #eee;
}

.navbar {
    margin-bottom: 0;
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 30px 20px 10px;
    margin: -20px -20px 20px;
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}