<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Traccar web UI mod - {{ page.title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Traccar Web UI</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li{% if page.title == 'About' %} class="active"{% endif %}><a href="/index.html">About</a></li>
                <li{% if page.title == 'News' %} class="active"{% endif %}><a href="/news.html">News</a></li>
                <li{% if page.title == 'Features' %} class="active"{% endif %}><a href="/features/">Features</a></li>
                <li{% if page.title == 'Roadmap' %} class="active"{% endif %}><a href="/roadmap.html">Roadmap</a></li>
                <li{% if page.title == 'Installation' %} class="active"{% endif %}><a href="/installation.html">Installation</a></li>
                <li{% if page.title == 'Demo' %} class="active"{% endif %}><a href="/demo.html">Demo</a></li>
                <li><a href="https://github.com/vitalidze/traccar-web" target="_blank">Source code</a></li>
                <li{% if page.title == 'Building' %} class="active"{% endif %}><a href="/building.html">Building</a></li>
                <li><a href="https://github.com/vitalidze/traccar-web/issues" target="_blank">Issue tracker</a></li>
                <li{% if page.title == 'Donate' %} class="active"{% endif %}><a href="/donate.html">Donate</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">IDE project setup <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/ide/eclipse.html">Eclipse</a></li>
                        <li><a href="/ide/idea.html">IntelliJ Idea</a></li>
                        <li><a href="/ide/netbeans.html">NetBeans</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="content">
        <div class="page-header">
            <h1>{% if page.date != null %}{{ page.date | date_to_string }} - {% endif %}{{ page.title }}</h1>
        </div>
        <div class="row">
            <div class="span12">