<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>traccar.html</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>

  <listener>
    <listener-class>org.traccar.web.server.model.GuiceServletConfig</listener-class>
  </listener>
</web-app>
